bin/
obj/
.vs/
*.user
*.suo
*.cache
*.log
TestResults/
**/TestResults/
*.db
*.mdf
*.ldf
*.sql
*.pdb
*.userosscache
*.vspscc
.nuget/packages/
.vscode/
*.dotCover
*.ncrunch*
*.sqlite
*.db3
local.settings.json
appsettings.Development.json
secrets.json
**/bin/
**/obj/
**/.vs/
